---
import { getEntry } from "astro:content";
import { marked } from "marked";
import { Icon } from "astro-icon/components";
import { t } from "@util/translate";
import Newsletter from "@components/form/NewsletterFooter.vue";

const today = new Date();
let about = await getEntry("config", "about");
let contact = await getEntry("config", "contact");
let navigation = await getEntry("config", "navigation");

const showNewsletter = !!import.meta.env.NEWSLETTER_PROVIDER;
---

<footer class="surface-footer grid grid-cols-1 gap-8 py-8">
  <div class="container-xl flex flex-wrap gap-4">
    {
      navigation.data.footer_menus &&
        navigation.data.footer_menus.map((menu) => (
          <div class="min-w-[10rem] space-y-3 sm:max-w-[14rem]">
            <div class="text-sm font-semibold">{menu.label}</div>
            <div class="grid grid-cols-1 gap-0.5 space-y-1 text-xs">
              {menu.links.map((link) => (
                <a
                  rel="noopener noreferrer"
                  href={link.href}
                  class="btn-replace mr-auto"
                  data-replace={link.label}
                >
                  <span>{link.label}</span>
                </a>
              ))}
            </div>
          </div>
        ))
    }

    {
      showNewsletter && (
        <div class="flex-col content-end items-end justify-end gap-2 py-0 pt-8 sm:ml-auto sm:flex sm:max-w-md sm:pt-0 sm:text-right">
          <div
            class="richtext dense no-lead balance text-xl leading-none opacity-80"
            set:html={marked.parse(about.data.newsletter_text)}
          />
          <Newsletter client:visible />
        </div>
      )
    }
  </div>
  <div class="container-xl mb-4 flex items-end justify-between gap-4">
    <div class="grid grid-cols-1 gap-4">
      <a rel="noopener noreferrer" href="#" aria-label={t("back_to_home")}>
        <Icon name="logo-footer" class="h-6" />
      </a>

      {
        about.data.footer_text && (
          <div
            class="balance max-w-sm pr-4 text-sm opacity-70"
            set:html={marked.parse(about.data.footer_text)}
          />
        )
      }
      {
        contact.data.social && (
          <div class="-ml-1 flex flex-wrap justify-start gap-2 ">
            {contact.data.social.map((link) => (
              <a
                href={link.href}
                class="grid h-full place-items-center transition-transform duration-500 hover:scale-110 "
                target="_blank"
                aria-label={link.label}
              >
                <Icon name={link.icon} class="h-5 w-5" />
              </a>
            ))}
          </div>
        )
      }
      <div class="mt-auto flex gap-2 pt-4 text-xs opacity-70">
        <span>&copy;{today.getFullYear()}</span>
        <span> {about.data.sitename}</span>
      </div>
    </div>

    <!-- ðŸ‘‰ðŸ‘‰ CC BY-ND 4.0 Â©ï¸unfolding.io  ðŸ‘ˆðŸ‘ˆ -->
    <!-- âš ï¸âš ï¸ DO NOT REMOVE THE ATTRIBUTION âš ï¸âš ï¸ -->
    <!-- Or hide this trough css or js. Keep it visible and readeble-->
    <!-- if you want to remove the attribution you can purchase a license at https://nebulix.unfolding.io/shop and support further development  ðŸ™ðŸ™ -->

    <!-- âœŒï¸âœŒï¸ Thanks!âœŒï¸âœŒï¸ -->

    <!-- <a
      href="https://unfolding.io"
      target="_blank"
      rel="noopener noreferrer"
      class="group inline-flex flex-col items-center gap-1.5 rounded-md p-2 text-center text-xs tracking-widest shadow-inset-s"
    >
      <sup class="pointer-events-none pt-2 opacity-70">powered by</sup>
      <img src="src/icons/logo.svg" alt="Logo" class="pointer-events-none h-4 opacity-60 transition-opacity duration-500 group-hover:opacity-100">

    </a> -->
  </div>
</footer>

<slot />
